body {
  background: url(../images/clock/debut_dark.png) repeat 0 0 #000000;
  color: #00b6fc;
}
.alarm .title,
.garage .title,
.climate .title,
.wake .title,
.days .title {
  font-weight: bold;
}
.alarm,
.garage,
.climate {
  text-align: center;
}
.clock {
  text-align: center;
}
.days .day {
  display: inline-block;
  width: 14%;
  text-align: center;
}
